---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="SEO Title" description="SEO Description">
    <main>
        <h1 class="text-blue-300">About Page</h1>

        <h2>H2</h2>
        <h3>H3</h3>
        <h4>H4</h4>
        <h5>H5</h5>
        <h6>H6</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, voluptate,
            quibusdam, quia voluptas quod quos exercitationem voluptatem quas doloribus quidem.
            Quisquam, quia voluptas. Quisquam, quia voluptas. Quisquam, quia voluptas.
        </p>
    </main>
</Layout>
