.card {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 16px;

  &__image {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
