---
import { Image } from '@astrojs/image/components';
export interface Props {
	title: string;
	body: string;
	href: string;
}

import catImage from '../assets/images/generals/sariz-cat-with-earth-cat.jpg';

const { href, title, body } = Astro.props;
---

<div class="card">
	<div class="card__image mb-2">
		<Image
			src="/images/fallback.webp"
			aspectRatio={1920 / 1080}
			width={1920}
			height={1080}
			alt="Astro Logo"
			loading="lazy"
			class="logo"
			fit="cover"
			format="webp"
		/>
		<Image
			src={catImage}
			aspectRatio={1920 / 1080}
			width={1920}
			height={1080}
			alt="Astro Logo"
			loading="lazy"
			class="logo"
			fit="cover"
			format="webp"
		/>
	</div>

	<div class="card__body">
		<a href={href}>
			<h2 class="hover:text-blue-500">
				{title}
				<span>&rarr;</span>
			</h2>
		</a>
		<p>
			{body}
		</p>
	</div>
</div>
