---
export interface Props {
	title: any;
	description: any;
}

import '../assets/scss/main.scss';
import { SEO } from 'astro-seo';
import i18next, { t } from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
const { title, description } = Astro.props;

const GA = import.meta.env.GOOGLE_ANALYTICS;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<GoogleAnalytics trackingId={GA} />
		<SEO
			title={title ? title : t('site.title')}
			description={description ? description : t('site.description')}
			openGraph={{
				basic: {
					title: title ? title : t('site.title'),
					type: 'A type.',
					image: 'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
				},
			}}
		/>
		<HeadHrefLangs />
	</head>
	<body>
		<Header />
		<div class="container mx-auto px-2 py-10 min-h-[80vh]">
			<slot />
		</div>
		<Footer />
	</body>
</html>
